<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recherche de la météo pour une ville</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/viewweather}" th:object="${localisation}" method="post">
    <p>Code ville: <input type="text" th:field="*{codeVille}" /></p>
    <p>Code pays: <input type="text" th:field="*{codePays}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>